html, body {
    height: 100%;
    margin: 0;
}

.wrap {
    width: 100vw;
    height: 100vh;
    background: lightgrey;
    z-index: 0;
}



/* Container for centering */
.container {
    position: absolute;
    left: 50%;  /* Position from the left */
    top: 50%;   /* Position from the top */
    transform: translate(-50%, -50%); /* Offset by half of its width/height to perfectly center */
    width: 80%;  /* Set width to 80% of the parent (viewport) */
    height: 300px; /* Fixed height */
    z-index: 0;  /* Ensures it stays below other elements */
    overflow: hidden; /* Hide overflowing content */
    display: flex;  /* Enables Flexbox layout */
    justify-content: center;  /* Center children horizontally */
    align-items: center;  /* Center children vertically */
}


.reels {

}

.reel-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.reels-m2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    top: -100%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
}

.reels-m1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    top: -100%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    transition: .3s linear;
}

.reels-0 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;

    transition: .3s linear;
}

.reels-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;

    transition: .3s linear;
}

.reel {
    height: 300px;
    width: 300px;
    position: relative;
    margin: 0 10px;
}

.reel > * {
    width: 100%;
    border: 1px solid black;
    background: lightgray;
}

/* .reel video {
    width: 100%;
    border: 1px solid black;
    background: lightgray;
} */

.spin-btn {
    position: absolute;
    left: 50%;
    top: 75%;
    transform: translateX(-50%);
    width: 150px;
    height: 50px;
    font-size: 1.5em;
    font-weight: 700;
}

@media (max-width: 768px) {
    .container {
        width: 90%; /* Adjust width for mobile */
        height: 300px; /* Ensure it's still filling the screen height */
        padding-top: 70px;
    }
}